@model CRUDCore.Models.Patients

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="alert alert-primary" role="alert" style="margin-bottom:15px">

  
            <h2 style="margin-bottom:-1px;">

                Nuevo paciente
            </h2>

</div>
<div style="margin-left:10px;margin-bottom:30px">
    <a asp-action="Index" class="btn btn-sm btn-primary" style="margin-bottom:-15px">Atras</a>
</div>
<hr />
<div>
    <div class="col-12">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">



                <div class="col-3">
                    <label asp-for="Names" class="control-label"></label>
                    <input asp-for="Names" class="form-control" />
                    <span asp-validation-for="Names" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="LastNames" class="control-label"></label>
                    <input asp-for="LastNames" class="form-control" />
                    <span asp-validation-for="LastNames" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Rfc" class="control-label"></label>
                    <input asp-for="Rfc" class="form-control" />
                    <span asp-validation-for="Rfc" class="text-danger"></span>
                </div>

                <div class="col-3">
                    <label asp-for="Calle" class="control-label"></label>
                    <input asp-for="Calle" class="form-control" />
                    <span asp-validation-for="Calle" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>


                <div class="col-3">
                    <label asp-for="Colonia" class="control-label"></label>
                    <input asp-for="Colonia" class="form-control" />
                    <span asp-validation-for="Colonia" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="CP" class="control-label"></label>
                    <input asp-for="CP" class="form-control" />
                    <span asp-validation-for="CP" class="text-danger"></span>
                </div>
                <div class="col-3">
                    <label asp-for="FamiliarPhone" class="control-label"></label>
                    <input asp-for="FamiliarPhone" class="form-control" />
                    <span asp-validation-for="FamiliarPhone" class="text-danger"></span>
                </div>
                <div class="col-12">
                    <hr />
                </div>
                
                <div class="col-12 form-group" style="margin-top:0px">
                    <input type="submit" value="Crear" class="btn btn-primary float-right" />
                </div>


            </div>


        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
