@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="alert alert-primary" role="alert" style="margin-bottom:15px">
        <h2>Generar cita</h2>
    </div>
    <div class="form-group" style="padding:12px">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-sm btn-outline-primary float-left">Nuevo cliente</button>
            </div>

            <div class="col-12" style="margin-top:10px;margin-bottom:10px">
                <hr />
            </div>
                

            <div class="col-3">
                <label>Paciente:</label>
                <input type="text" class="form-control" placeholder="nombre de paciente" />
            </div>
            <div class="col-3">
                <label>Edad:</label>
                <input type="text" class="form-control" placeholder="edad" />
            </div>
            <div class="col-3">
                <label>Telefono:</label>
                <input type="number" class="form-control" placeholder="numero telefonico" />
            </div>
            <div class="col-3">
                <label>RFC:</label>
                <input type="text" class="form-control" placeholder="registro federal de contribuyente" />
            </div>
            <div class="col-12" style="margin-top:10px;margin-bottom:10px">
                <hr />
            </div>


            <div class="col-3">
                <label>Calle:</label>
                <input type="text" class="form-control" placeholder="calle" />
            </div>
            <div class="col-3">
                <label>Numero:</label>
                <input type="text" class="form-control" placeholder="calle" />
            </div>
            <div class="col-3">
                <label>Colonia:</label>
                <input type="text" class="form-control" placeholder="colonia" />
            </div>
            <div class="col-3">
                <label>CP:</label>
                <input type="text" class="form-control" placeholder="codigo postal" />
            </div>
        </div>

    </div>
</div>



@section styles{
    <link href="~/css/Index.css" rel="stylesheet" />
}