@page
@model CRUDCore.Pages.Login.IndexModel
@{
    ViewData["Title"] = "DoctorApp";
    @* Layout = "~/Views/Shared/_Layout.cshtml"; *@

   
}
<head>
    <link href="~/css/Login.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
            <img src="~/images/user2.png" style="width:180px;height:auto;margin-top:25px" />

        </div>

        <!-- Login Form -->
        <form method="post">
            <input type="text" id="login" class="fadeIn second" name="txtUsuario" placeholder="Usuario">
            <input type="text" id="password" class="fadeIn third" name="txtPassword" placeholder="Password">
            <input type="submit" class="fadeIn fourth" value="Ingresar">
        </form>


    </div>
</div>

